.copyright {
	background-color: #1E1E1E;
	padding:30px 30px;
	.wrapper {
		max-width:1000px;
		margin:0 auto;

		p {
			color:#707070;
			margin-bottom:10px;
			font-style:italic;
			font-size:14px;
			line-height:16px;

		}
	}
}